.App-header ul {
  padding:20px;
  margin:0px;
  background-color:#222;
  list-style:none;
  text-align: end;
}

.App-header ul li {
  display: inline;
}

.App-header ul li a {
  padding: 2px 10px;
  display: inline-block;
  background-color:#222;
  color: #fff;
  text-decoration: none;
  border-bottom:3px solid #222;
}

.App-header ul li a:hover {
  border-bottom:3px solid #31BCE8;
}